/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FAFAFA;
}

header {
    background-color: #4CAF50; /* Green background */
    color: white;
    text-align: left;
    padding: 16px;
    font-size: 20px; /* Slightly smaller font size for mobile */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

.material-icons {
    font-size: 24px;
    margin-right: 10px;
}

#tabs {
    display: flex;
    justify-content: space-around; /* Ensure tabs are evenly spaced */
    background-color: #EEE;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.tab {
    flex-grow: 1; /* Each tab takes equal width */
    text-align: center; /* Center text in tabs */
    padding: 12px;
    font-size: 16px; /* Smaller font size for tabs */
    cursor: pointer;
}

.tab.active {
    background-color: #CCC;
}

.content {
    padding: 10px;
    overflow-y: auto;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px; /* Larger font size for easier reading on small screens */
    border: none;
    border-bottom: 2px solid #4CAF50; /* Stylish underline */
    background: none;
    resize: none; /* Disable resizing for textarea */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    header {
        padding: 12px 5px; /* Less padding on smaller screens */
        font-size: 18px; /* Smaller header font size */
    }

    .material-icons {
        font-size: 20px; /* Smaller icons */
    }

    #tabs .tab {
        padding: 10px 5px; /* Smaller padding in tabs */
    }

    textarea, input[type="text"] {
        font-size: 14px; /* Smaller text areas and inputs */
    }
}
